
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Per-Arne Andersen">
    <title>DeepLineWars - Analyzer</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Deep Line Wars Analyzer</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"></ul>
    </div>
</nav>


<div class="container" ng-app="dlw">

    <fieldset>
        <legend>Generative Adversarial Network</legend>
        <div class="row" ng-controller="gan_controller">

            <div class="col-{{image.col}}" ng-repeat="image in images" class="col-lg-6" >
                <img style="width:100%;" ng-src="{{image.src}}?decache={{image.stamp}}">
            </div>
        </div>
    </fieldset>


    <fieldset>
        <legend>Models</legend>
        <div class="row" ng-controller="model_controller">
            <div class="col-6" ng-repeat="image in images" class="col-lg-6" >
                <h3>{{image.src}}</h3>
                <img style="width:100%;" ng-src="{{image.src}}?decache={{image.stamp}}">
            </div>
        </div>
    </fieldset>






</div>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var app = angular.module('dlw', []);

    app.controller('gan_controller', function($scope, $interval) {

        $scope.getTime = function(){
            return Math.random();
        };

        $scope.images = [
            {src: "output/dqn_gan_real.png", stamp: $scope.getTime(), col: 6},
            {src: "output/dqn_gan_fake.png", stamp: $scope.getTime(), col: 6},
            {src: "output/dqn_gan_real_fake_q.png", stamp: $scope.getTime(), col: 6},
            {src: "output/dqn_gan_plot.png", stamp: $scope.getTime(), col: 6}
        ];

        $interval(function(){
            $scope.images.forEach(function(i){
                i.stamp = $scope.getTime();
            });

            //$scope.$apply();
        }, 1000);
    });

    app.controller('model_controller', function($scope) {

        $scope.getTime = function(){
            return Math.random();
        };

        $scope.images = [
            {src: "output/_adversarial_model.png", stamp: $scope.getTime()},
            {src: "output/_discriminator_model.png", stamp: $scope.getTime()},
            {src: "output/_generator_model.png", stamp: $scope.getTime()},
            {src: "output/_dqn_model.png", stamp: $scope.getTime()},
        ];
    });


</script>
</body>
</html>
